
#board {
    margin: auto;
    background-color: whitesmoke;
    width: 500px;
    height: 500px;

    
    display: grid;
    grid-gap: 4px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

div > div {
    display: flex;
    background-color: grey;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 5em;
    justify-content: center;
    align-items: center;
}

#signup, #login {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


