doctype html
head
  title CSE356 - Warm Up 1
  meta(name='id' content='61f9f92e73ba724f297db7d0')
  link(rel='stylesheet' href='app.css')
form(action='/ttt/' method='POST')
  label(for='fname') Please enter your name:
  input#name(type='text' name='name')
  input(type='submit' value='Submit')
  h2#welcome= message
  #board
    #cell0(onclick='handleClick(event)')
    #cell1(onclick='handleClick(event)')
    #cell2(onclick='handleClick(event)')
    #cell3(onclick='handleClick(event)')
    #cell4(onclick='handleClick(event)')
    #cell5(onclick='handleClick(event)')
    #cell6(onclick='handleClick(event)')
    #cell7(onclick='handleClick(event)')
    #cell8(onclick='handleClick(event)')
  script(src='app.js')
